[submodule "openapi/express-open-api"]
	path = openapi/express-open-api
	url = https://github.com/default-writer/express-open-api.git
[submodule "openapi/api-example"]
	path = openapi/api-example
	url = https://github.com/default-writer/api-example.git
